<template>
  <div>
    <DataTable :value="students" tableStyle="min-width: 50rem">
      <Column field="code" header="Kürzel"></Column>
      <Column field="name" header="Veröffentlichungen"></Column>
      <Column field="category" header="Gültig bis"></Column>
    </DataTable>
  </div>
</template>
<script setup lang="ts">
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import { ref } from 'vue'

const students = ref([])
</script>
