<template>
  <div class="flex flex-col space-y-4 w-3/4">
    <div v-for="document in documents" class="card mx-12 hover:cursor-pointer">
      <span class="text-sm text-studidocs_secondary_text">{{ document.student }} </span>
      <h2 class="text-2xl text-studidocs_primary_text font-bold">{{ document.title }}</h2>
      <hr />
      <p class="text-lg font-bolder text-studidocs_primary_text py-2">{{ document.abstract }}</p>
      <hr />
      <div class="flex space-x-4 mt-2">
        <span class="inline-flex text-studidocs_primary_text font-semibold">
          <Icon
            class="relative top-0.5 mr-2"
            :inline="true"
            icon="material-symbols:calendar-today-outline-rounded"
            :style="{ fontSize: '1.2rem' }"
          />{{ document.year }}</span
        >
        <Icon
          v-if="document.searchWords.length > 0"
          class="relative top-[.2rem] left-1 text-studidocs_primary_text"
          :inline="true"
          icon="fa6-solid:hashtag"
          :style="{ fontSize: '1.2rem' }"
        />
        <div v-for="word in document.searchWords" class="flex space-x-1">
          <span class="inline-flex text-studidocs_primary_text font-semibold">
            {{ word.word }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { getDocumentCount, getDocuments } from '../../services/api/documents.service'
import { ref } from 'vue'
import { Document } from '@/model/document.model'
import { Icon } from '@iconify/vue'

const documents = ref<Document[]>([])
const documentCount = ref()

getDocuments(0).then((res) => {
  documents.value = res
})

getDocumentCount().then((res) => {
  documentCount.value = res
})

console.log(documents.value)
</script>
