<template>
  <div>
    <Header></Header>
    <SecondHeader text="Login" icon="material-symbols:person-outline-rounded" />
    <div class="flex mx-12 my-4">
      <Login class="mr-4" />
      <div class="card text-studidocs_primary_text w-80">
        <h1 class="font-bold text-3xl">Hilfe</h1>
        <p>Nutze einfach deine HWR-Zugangsdaten, um dich bei StudiDocs anzumelden!</p>
      </div>
      <div
        @click="router.push({ path: '/imprint' })"
        class="absolute bottom-2 text-studidocs_red font-semibold hover:underline hover:cursor-pointer"
      >
        Impressum
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import SecondHeader from '@/components/header/SecondHeader.vue'
import Header from '@/components/header/Header.vue'
import Login from '@/components/login/Login.vue'
import { useUserStore } from '@/store'
import router from '@/router'

const useStore = useUserStore()
console.log(useStore.getUserToken)
</script>
