<template>
  <div>
    <Header></Header>
    <SecondHeader text="Impressum" icon="octicon:law-24" />
    <div class="card m-8 text-center">
      <h1 class="text-2xl font-bold text-studidocs_primary_text">Angaben gemäß §5 TMG</h1>
      <p class="font-semibold text-studidocs_primary_text mt-8">
        Hochschule für Wirtschaft und Recht Berlin <br />
        Campus Lichtenberg <br />
        Fachbereich 2 <br />
        Haus 5 <br />
        Alt-Friedrichsfelde 60 10315 Berlin
      </p>
      <h1 class="text-xl font-bold text-studidocs_primary_text my-4">Ansprechpartnerin</h1>
      <p>Prof. Dr. Dagmar Monett Díaz</p>
      <a href="mailto:dagmar.monett-diaz@hwr-berlin.de" class="text-studidocs_red hover:underline"
        >dagmar.monett-diaz@hwr-berlin.de</a
      >
    </div>
  </div>
</template>
<script setup>
import SecondHeader from '@/components/header/SecondHeader.vue'
import Header from '@/components/header/Header.vue'
</script>
