<template>
  <div>
    <Button :pt="addButton" @click="router.push({ path: '/user/upload' })">
      <div class="inline-flex">
        <span>Neu</span>
        <Icon
          class="relative top-0.5 ml-2"
          :inline="true"
          icon="material-symbols:add"
          :style="{ fontSize: '1.5rem' }"
        />
      </div>
    </Button>
  </div>
</template>
<script lang="ts" setup>
import { useUserStore } from '@/store'
import { Icon } from '@iconify/vue'
import Button from 'primevue/button'
import { ref } from 'vue'
import router from '@/router'

const store = useUserStore()
const user = store.getUserName

const addButton = ref({
  root: 'rounded bg-studidocs_light_grey text-studidocs_primary_text text-lg font-bold p-2 hover:bg-studidocs_light_grey_hover'
})
</script>
