<template>
  <div class="min-h-12 bg-studidocs_red p-4 text-white">
    <div class="flex items-center justify-between">
      <h1 class="text-3xl flex cursor-pointer" @click="$router.push({ path: '/user' })">
        <img src="../../assets/images/hwr-logo.svg" alt="HWR Logo" /> studidocs
      </h1>
      <span class="relative w-full ml-3">
        <Icon
          class="absolute top-1/2 left-14 transform -translate-y-1/2"
          :inline="true"
          icon="mingcute:search-line"
          :style="{ fontSize: '1.5rem' }"
          color="#F75056"
        />
        <InputText v-model="headerSearch" :pt="searchStyle" placeholder="Suchen" />
      </span>
      <div v-if="user" class="flex space-x-2">
        <AddButtonVue />
        <ProfileButtonVue @click="emit('showSidebar')" />
      </div>
      <div v-else></div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { Icon } from '@iconify/vue/dist/iconify.js'
import { useUserStore } from '@/store'
import InputText from 'primevue/inputtext'
import AddButtonVue from './AddButton.vue'
import { ref } from 'vue'
import ProfileButtonVue from './ProfileButton.vue'

const store = useUserStore()
const user = store.getUserToken
const emit = defineEmits(['showSidebar'])

const headerSearch = ref<string>('')
const searchStyle = ref({
  root: 'rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 pl-10 text-xl font-semibold ml-12 w-1/2 caret-studidocs_red'
})
</script>
