<template>
  <div>
    <Button :pt="profileButton">
      <div class="inline-flex">
        <Icon
          class="relative top-0.5 mr-2"
          :inline="true"
          icon="material-symbols:person-outline-rounded"
          :style="{ fontSize: '1.5rem' }"
        />
        <span>{{ user }}</span>
      </div>
    </Button>
  </div>
</template>
<script lang="ts" setup>
import { Icon } from '@iconify/vue'
import { useUserStore } from '@/store'
import Button from 'primevue/button'
import { ref } from 'vue'

const store = useUserStore()
const user = store.getUserName

const profileButton = ref({
  root: 'rounded bg-studidocs_light_grey text-studidocs_primary_text text-lg font-bold p-2 pb-1.5 hover:bg-studidocs_light_grey_hover'
})
</script>
