<template>
  <div class="h-12 bg-white font-semibold flex items-center">
    <h2 class="text-studidocs_primary_text text-2xl mx-12 flex font-bold">
      <Icon class="mr-3" :icon="props.icon" :style="{ fontSize: '2rem' }" color="#f75056" />
      {{ props.text }}
    </h2>
  </div>
</template>
<script lang="ts" setup>
import { Icon } from '@iconify/vue'

const props = defineProps(['text', 'icon'])
</script>
