<template>
  <div class="card w-1/3 p-4 mt-6">
    <InputText class="mb-8" v-model="title" :pt="inputStyle" placeholder="Titel*" required />
    <Textarea
      required
      placeholder="Beschreibung*"
      :pt="inputStyle"
      v-model="description"
      rows="5"
      cols="30"
    />
    <Chips placeholder="Tags*" v-model="tags" class="my-4" required />
    <div class="mt-4 mb-2 relative">
      <label for="file-upload" class="text-studidocs_red font-semibold text-xl">Dokument*</label>
      <span
        v-if="file === undefined"
        class="absolute top-16 left-1/4 text-center text-studidocs_primary_text font-semibold text-xl inline-flex"
        ><Icon icon="material-symbols:upload-rounded" class="mr-2" :style="{ fontSize: '2rem' }" />
        Hineinziehen oder einfügen</span
      >
      <span
        v-else
        class="absolute top-16 left-1/4 text-center text-studidocs_primary_text font-semibold text-xl inline-flex"
        ><Icon icon="ion:document-text-outline" class="mr-2" :style="{ fontSize: '2rem' }" />{{
          file.name
        }}</span
      >
      <input
        required
        id="file-upload"
        class="cursor-pointer selector-style mb-4 bg-white border-studidocs_primary_text border-dashed border-2 h-24 rounded p-2 text-studidocs_primary_text w-full"
        @change="getFileFromDOM($event)"
        type="file"
        accept=".pdf"
      />
    </div>

    <Button @click="continueForm()" type="submit" :pt="buttonStyle" label="Weiter"></Button>
  </div>
</template>
<script lang="ts" setup>
import Dropdown from 'primevue/dropdown'
import Button from 'primevue/button'
import InputText from 'primevue/inputtext'
import Textarea from 'primevue/textarea'
import Chips from 'primevue/chips'

import { ref } from 'vue'
import { Icon } from '@iconify/vue/dist/iconify.js'
const props = defineProps({
  title: String,
  description: String,
  tags: Array,
  restricted: Boolean,
  file: File
})
const title = ref(props.title)
const description = ref(props.description)
const tags = ref(props.tags)
const restricted = ref(false)
const file = ref(props.file)

const emit = defineEmits(['continueForm'])

const inputStyle = ref({
  root: 'font-bold rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 text-lg font-semibold w-full caret-studidocs_red'
})

const buttonStyle = ref({
  root: 'rounded bg-studidocs_red text-white text-lg font-bold p-2  hover:bg-studidocs_red_hover'
})
function getFileFromDOM(event: any) {
  file.value = event.target.files[0]
}

function continueForm() {
  if (
    title.value !== '' &&
    description.value !== '' &&
    file.value !== undefined &&
    tags.value?.length !== undefined &&
    restricted.value !== undefined
  ) {
    emit('continueForm', {
      title: title.value,
      description: description.value,
      file: file.value,
      tags: tags.value,
      restricted: restricted.value
    })
  }
}
</script>
<style>
.selector-style::file-selector-button {
  display: none;
}
.selector-style {
  color: transparent;
}
</style>
