<template>
  <div class="card w-1/3 p-4 mt-6">
    <label for="selctBtn" class="text-studidocs_red font-semibold">Sichtbarkeit*</label>
    <div class="flex justify-start">
      <SelectButton
        id="selctBtn"
        class="mb-6"
        v-model="viewable"
        :options="options"
        :pt="optionStyle"
        aria-labelledby="basic"
      />
    </div>
    <InputText class="mb-6" v-model="author" :pt="inputStyle" placeholder="Autor:innen*" required />
    <input
      class="mb-6 rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 text-lg font-semibold w-full caret-studidocs_red"
      v-model="year"
      placeholder="Jahr*"
      required
      type="number"
    />
    <InputText class="mb-6" v-model="language" :pt="inputStyle" placeholder="Sprache*" required />
    <InputText class="mb-6" v-model="major" :pt="inputStyle" placeholder="Studiengang*" required />

    <InputText
      class="mb-6"
      v-model="supervisor"
      :pt="inputStyle"
      placeholder="Betreuer:in*"
      required
    />
    <InputText class="mb-6" v-model="company" :pt="inputStyle" placeholder="Unternehmen" required />

    <div class="flex justify-between">
      <Button @click="emit('backForm')" type="submit" :pt="secondaryButton" label="Zurück"></Button>

      <Button @click="submitForm" type="submit" :pt="primaryButton" label="Hochladen"></Button>
    </div>
  </div>
</template>
<script lang="ts" setup>
import SelectButton from 'primevue/selectbutton'
import Button from 'primevue/button'
import InputText from 'primevue/inputtext'
import { ref } from 'vue'

const props = defineProps({
  viewable: String,
  author: String,
  year: Number,
  language: String,
  major: String,
  supervisor: String,
  company: String
})

const viewable = ref('HWR')
const options = ref(['Privat', 'HWR', 'Alle'])
const author = ref(props.author)
const year = ref(props.year)
const language = ref(props.language)
const major = ref(props.major)
const supervisor = ref(props.supervisor)
const company = ref(props.company)
const emit = defineEmits(['backForm', 'submitForm'])

const optionStyle = ref({
  root: 'flex space-x-1 rounded bg-studidocs_light_grey text-studidocs_primary_text text-lg p-0.5 font-semibold cursor-pointer',
  button: ({ context }: { context: any }) => ({
    class: context.active
      ? 'bg-studidocs_red text-white p-2 rounded'
      : 'p-2 hover:bg-studidocs_light_grey_hover rounded'
  })
})

const inputStyle = ref({
  root: 'font-bold rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 text-lg font-semibold w-full caret-studidocs_red'
})
const primaryButton = ref({
  root: 'rounded bg-studidocs_red text-white text-lg font-bold p-2  hover:bg-studidocs_red_hover'
})
const secondaryButton = ref({
  root: 'rounded bg-studidocs_light_grey text-studidocs_primary_text text-lg font-bold p-2  hover:bg-studidocs_light_grey_hover'
})

function submitForm() {
  emit('submitForm', {
    author: author.value,
    year: year.value,
    language: language.value,
    major: major.value,
    supervisor: supervisor.value,
    viewable: viewable.value,
    company: company.value
  })
}
</script>
