<template>
  <div class="absolute h-screen w-full backdrop-blur z-10" @click="emit('close')">
    <Transition class="slide-fade">
      <UserPanelVue />
    </Transition>
  </div>
</template>
<script lang="ts" setup>
import UserPanelVue from './UserPanel.vue'

const emit = defineEmits(['close'])
</script>
<style>
/*Trainsition for change of views*/
.slide-fade-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(24rem);
  opacity: 1;
}
</style>
