<template>
  <div class="h-screen w-96 bg-white absolute right-0 p-4 text-studidocs_primary_text z-20">
    <h1 class="text-3xl font-bold inline-flex items-center">
      <div class="rounded bg-studidocs_red p-2 text-white mr-4 w-14">
        {{ user.charAt(0) }}
      </div>
      {{ user }}
    </h1>
    <div class="flex-col mt-12 ml-8 text-2xl font-semibold space-y-8">
      <div class="cursor-pointer inline-flex hover:text-studidocs_red">
        <Icon
          class="relative top-0.5 mr-2"
          :inline="true"
          icon="material-symbols:person-outline-rounded"
          :style="{ fontSize: '2rem' }"
        />
        <span>Profil</span>
      </div>
      <br />
      <div class="cursor-pointer inline-flex hover:text-studidocs_red">
        <Icon
          class="relative top-0.5 mr-2"
          :inline="true"
          icon="ion:document-text-outline"
          :style="{ fontSize: '2rem' }"
        />
        <span>Dokumente</span>
      </div>
      <br />
      <div
        @click="router.push({ path: '/user/manage' })"
        class="cursor-pointer inline-flex hover:text-studidocs_red"
      >
        <Icon
          class="relative top-0.5 mr-2"
          :inline="true"
          icon="ion:document-text-outline"
          :style="{ fontSize: '2rem' }"
        />
        <span>Betreute Arbeiten</span>
      </div>
      <br />
      <div class="cursor-pointer inline-flex hover:text-studidocs_red">
        <Icon
          class="relative top-0.5 mr-2"
          :inline="true"
          icon="clarity:settings-line"
          :style="{ fontSize: '2rem' }"
        />
        <span>Einstellungen</span>
      </div>
    </div>
    <footer class="absolute bottom-4 text-xl font-semibold cursor-pointer">
      <hr />
      <div class="mt-4 inline-flex hover:text-studidocs_red" @click="logout()">
        <Icon class="mr-2" :inline="true" icon="prime:sign-out" :style="{ fontSize: '2rem' }" />
        <span> Abmelden</span>
      </div>
    </footer>
  </div>
</template>
<script lang="ts" setup>
import { Icon } from '@iconify/vue'
import { useUserStore } from '@/store'
import { logout as authServiceLogout } from '@/services/auth.service'
import router from '@/router'

const store = useUserStore()
const user = store.getUserName

function logout() {
  authServiceLogout()
  router.push({ path: '/' })
}
</script>
