<template>
  <div>
    <Transition name="slide-fade">
      <Sidebar v-if="showSidebar" @close="showSidebar = false" />
    </Transition>
    <Header @show-sidebar="showSidebar = true"></Header>
    <SecondHeader text="Dokumente" icon="ion:document-text-outline" />
    <div class="flex flex-row m-8">
      <DocTrailer />
      <div class="card-red h-1/2 w-1/4">
        <h1 class="text-2xl font-bold">Hilf uns!</h1>
        <p class="text-lg font-bolder mt-4">
          Unterstütze die Entwicklung von Studidocs und mache es zu einem Projekt der gesamten
          Studierendenschaft!
        </p>
        <a
          href="https://gitlab.com/studienprojekt-studidocs"
          class="text-2xl font-bold cursor-pointer hover:text-studidocs_light_grey hover:underline inline-flex"
          >GitLab <Icon icon="tabler:external-link" class="relative top-1.5 ml-1" :inline="true"
        /></a>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import Sidebar from '@/components/sidebar/Sidebar.vue'
import Header from '@/components/header/Header.vue'
import SecondHeader from '@/components/header/SecondHeader.vue'
import DocTrailer from '@/components/document/DocTrailer.vue'
import { useUserStore } from '@/store'
import { ref } from 'vue'
import { Icon } from '@iconify/vue/dist/iconify.js'

const showSidebar = ref(false)
const useStore = useUserStore()

console.log(useStore.getUserToken)
</script>
<style>
/*Trainsition for change of views*/
.slide-fade-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 1;
}
</style>
