<template>
  <div>
    <Transition name="slide-fade">
      <Sidebar v-if="showSidebar" @close="showSidebar = false" />
    </Transition>
    <Header @show-sidebar="showSidebar = true"></Header>
    <SecondHeader text="Betreute Arbeiten" icon="ion:document-text-outline" />
    <div class="m-8 flex">
      <Button :pt="buttonStyle">
        <div class="inline-flex">
          <span>Zugang hinzufügen</span>
          <Icon
            class="relative top-0.5 ml-2"
            :inline="true"
            icon="material-symbols:add"
            :style="{ fontSize: '1.5rem' }"
          /></div
      ></Button>
      <StudentTable />
    </div>
  </div>
</template>
<script lang="ts" setup>
import { Icon } from '@iconify/vue'
import Button from 'primevue/button'
import Sidebar from '@/components/sidebar/Sidebar.vue'
import Header from '@/components/header/Header.vue'
import SecondHeader from '@/components/header/SecondHeader.vue'
import StudentTable from '@/components/studentManagement/studentTable.vue'
import { ref } from 'vue'

const showSidebar = ref(false)

const buttonStyle = ref({
  root: 'rounded bg-studidocs_red text-white text-lg font-bold p-2  hover:bg-studidocs_red_hover'
})
</script>
