<template>
  <div>
    <Transition name="slide-fade">
      <Sidebar v-if="showSidebar" @close="showSidebar = false" />
    </Transition>
    <Header @show-sidebar="showSidebar = true"></Header>
    <SecondHeader :text="headerText" icon="material-symbols:upload-rounded" />
    <Form1
      :title="document.title"
      :description="document.abstract"
      :tags="document.searchWords"
      :restricted="document.restricted"
      @continue-form="(data) => formOneSubmit(data)"
      v-if="form1Active"
      class="mx-12"
    />
    <Form2
      :author="document.student"
      :year="document.year"
      :language="document.language"
      :major="document.course"
      :supervisor="document.docent"
      :company="document.company"
      @back-form="form1Active = !form1Active"
      @submit-form="(data) => formTwoSubmit(data)"
      v-else
      class="mx-12"
    />
  </div>
</template>
<script lang="ts" setup>
import Sidebar from '@/components/sidebar/Sidebar.vue'
import Header from '@/components/header/Header.vue'
import SecondHeader from '@/components/header/SecondHeader.vue'
import Form1 from '@/components/uploadForm/Form1.vue'
import Form2 from '@/components/uploadForm/Form2.vue'
import { addDocument } from '../../services/api/documents.service'

import { ref, watch } from 'vue'

const showSidebar = ref(false)
const form1Active = ref(true)
const headerText = ref(form1Active ? 'Upload (1/2)' : 'Upload (2/2)')

watch(form1Active, () => {
  headerText.value = form1Active.value ? 'Upload (1/2)' : 'Upload (2/2)'
})

const document = ref({
  title: '',
  language: '',
  type: 'work',
  year: 2024, //has to be changed
  course: '',
  docent: '',
  company: '',
  restricted: false,
  abstract: '',
  student: '',
  privacyState: 1, //has to be changed
  searchWords: [],
  file: null as Blob | null
})

function formOneSubmit(data: any) {
  form1Active.value = !form1Active.value
  document.value.title = data.title
  document.value.abstract = data.description
  document.value.searchWords = data.tags
  document.value.file = data.file
  document.value.restricted = data.restricted
}

function formTwoSubmit(data: any) {
  document.value.language = data.language
  document.value.year = data.year
  document.value.course = data.major
  document.value.docent = data.supervisor
  document.value.student = data.author
  document.value.company = data.company
  document.value.privacyState = 0
  console.log(document.value)
  uploadDocument()
}

function uploadDocument() {
  addDocument(document.value)
}
</script>
