@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.card-red {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f75056;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  color: white;
}

.studidocs_red svg {
  color: #f75056;
}
