<template>
  <div class="card w-80 flex flex-col">
    <InputText class="mb-8" v-model="userName" :pt="usernameStyle" placeholder="Anmeldename" />
    <Password
      :toggle-mask="true"
      class="mb-8 relative"
      v-model="password"
      :feedback="false"
      :pt="passwordStyle"
      placeholder="Passwort"
    />
    <Button
      @click="tryLogin()"
      :pt="buttonStyle"
      label="Login"
      :disabled="!store.getCookiesAllowed || userName.length === 0 || password.length === 0"
    ></Button>
  </div>
</template>
<script setup lang="ts">
import InputText from 'primevue/inputtext'
import Password from 'primevue/password'
import Button from 'primevue/button'
import auth from '@/services/auth.service'

import { ref } from 'vue'
import router from '@/router'
import { useUserStore } from '@/store'

const store = useUserStore()
const userName = ref<string>('')
const password = ref<string>('')

const usernameStyle = ref({
  root: 'rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 text-lg font-semibold w-full caret-studidocs_red'
})

const passwordStyle = ref({
  input: {
    root: 'rounded bg-[#F4F4F5] text-studidocs_primary_text placeholder-studidocs_red p-2 text-lg font-semibold w-full caret-studidocs_red'
  },
  hideicon: 'absolute bottom-4 right-4',
  showicon: 'absolute bottom-4 right-4'
})

const buttonStyle = ref({
  root: 'rounded bg-studidocs_red text-white text-lg font-bold p-2 w-full hover:bg-studidocs_red_hover disabled:opacity-50'
})

function tryLogin() {
  if (userName.value && password.value) {
    auth
      .login(userName.value, password.value)
      .then((reponse) => {
        password.value = ''
        userName.value = ''
        console.log('login successful')
        router.push({ path: '/user' })
      })
      .catch((error) => {
        console.log(error)
      })
  } else {
    console.log('no username or password')
  }
}
</script>
