<script setup lang="ts">
import { RouterView } from 'vue-router'
import { useUserStore } from './store'
import CookieBanner from './components/utils/CookieBanner.vue'

const useStore = useUserStore()
useStore.initCookieState()
</script>

<template>
  <div class="min-h-screen bg-studidocs_light_grey">
    <RouterView />
    <CookieBanner v-if="!useStore.getCookiesAllowed" class="absolute left-1/4 bottom-12" />
  </div>
</template>
