<template>
  <div class="card z-10 w-1/2 text-studidocs_primary_text">
    <h3 class="font-bold text-3xl">Wir verwenden Cookies.</h3>
    <p>
      Diese Website verwendet Cookies – nähere Informationen dazu und zu Ihren Rechten als Benutzer
      finden Sie in unserer Datenschutzerklärung am Ende der Seite. Klicken Sie auf „Ich stimme zu“,
      um Cookies zu akzeptieren und alle Funktionen vollumfänglich nutzen zu können.
    </p>
    <Button
      @click="consentToCookie()"
      p-ripple
      class="mt-4"
      :pt="buttonStyle"
      label="Ich stimme zu"
    ></Button>
  </div>
</template>
<script lang="ts" setup>
import { useUserStore } from '@/store'
import Button from 'primevue/button'
import { ref } from 'vue'

const store = useUserStore()

const buttonStyle = ref({
  root: 'rounded bg-studidocs_red text-white text-lg font-bold p-2 w-full hover:bg-studidocs_red_hover'
})

function consentToCookie() {
  store.setCookiesState({ cookies: true })
}
</script>
